.*.swp
Regular_Expressions.aux
Regular_Expressions.log 
Regular_Expressions.nav 
Regular_Expressions.out 
Regular_Expressions.pdf 
Regular_Expressions.snm
Regular_Expressions.toc
Regular_Expressions.vrb
data/fixed.txt
